#root {
  margin: 0 auto;
  text-align: center;
}

.box {
  background-color: blue;
  height: 80px;
  width: 80px;
  text-align: center;
  place-items: center;
  margin: 1px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
  min-width: none;
  resize: none;
  width: 1287px;
}

/* The exclaimation mark is sus, according to Raphael and Adam. */
.box:hover {
  background-color: navy !important;
  color: white;
}