#root {
  margin: 0 auto;
  text-align: center;
  background-color: darkgrey;
}

.box {
  background-color: lightgray;
  height: 80px;
  width: 80px;
  text-align: center;
  place-items: center;
  margin: 1px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  width: 1287px;
}

/* The exclaimation mark is sus, according to Raphael and Adam. */
/* .box:hover {
  background-color: slategray !important;
  color: white;
} */

h2 {
  margin: 0px;
}

#welcome-header {
  margin-top: 200px;
}

#play-game-btn {
  margin-top: 25px;
}

.you-lost-button {
  margin-left: 50px;
}


/* IMAGE CSS */
img {
  width: 60px;
  height: 60px;
}

.spaceshipImg {
  margin-top: 10px;
}

.enemyImg {
  margin-top: 12px;
}

.laserImg {
  margin-top: 10px;
  transform: rotate(135deg);
}

.goHomeBtn {
  margin-left: 10px;
  margin-right: 10px;
}