#root {
  margin: 0 auto;
  text-align: center;
}

.box {
  background-color: blue;
  height: 80px;
  width: 80px;
  text-align: center;
  place-items: center;
  margin: 1px;
  /* float: left; */
}

.box:hover {
  background-color: navy;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
}